body {
    margin: 0px;
    padding: 0px;
    font-family: 'Raleway', sans-serif;
    background-color: black;
    color: white;
}

h1{
    color: white;
    text-align: center;
    font-weight: 500;
    font-size: 50px;
    margin: 0;
}

h2 {
    color: white;
    font-weight: 500;
	font-size: 40px;
	
}

h3 { 
	font-size: 25px;
	font-weight: 300;
    font-size: 25px;
}

p {
    color: white;
    font-weight: 300;
    font-size: 16px;
    text-align: justify;
}

.header {
    font-size: 50px;
    font-weight: 500;
    margin: 0;
    padding: 0;
}

.header img {
    width: 100%;
}

.container {
    width: 80%;
    margin: 0 auto;
}

/*DESCRIPCIÓN*/

.descripcion img, .desc-parrafo {
    display: inline-block;
    width: 45%;
    vertical-align: middle;
}

.descripcion img {
    padding: 50px;
}


/*CARACTERÍSTICAS*/

.caracteristicas {
	background-color: #1E1A13;
	text-align: center;
	padding: 50px;
}

.icono {
    margin-top: 20px;
    display: inline-block;
    width: 33%;
    text-align: center;
}

/*IMÁGENES*/

.imagenes {
    padding: 30px;
}
.imagenes img {
    width: 30%;
    height: 200px;
    object-fit: cover;
    margin: 10px
}

/*FOOTER*/

footer {
    color: white;
    text-align: center;
    text-decoration: none;
    background-color: #1E1A13;
    padding: 40px 0px;
    font-weight: 300;
    font-size: 20px;
}
